<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" th:href="@{~/assets/img/favicon.ico}">
    <title>ZBloguy | New post</title>
    <!-- Bootstrap core CSS -->
    <link th:href="@{~/assets/css/bootstrap.min.css}" rel="stylesheet">
    <!-- Fonts -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Righteous%7CMerriweather:300,300i,400,400i,700,700i"
          rel="stylesheet">
    <!-- Custom styles for this template -->
    <link th:href="@{~/assets/css/mediumish.css}" rel="stylesheet">

    <script src="https://cdn.tiny.cloud/1/cvqmzauqe8q38srdyhvdzdxc6pq3m090ikcczt91e8c9v2tr/tinymce/5/tinymce.min.js"
            referrerpolicy="origin"></script>

    <script th:src="@{~/ckeditor/ckeditor.js}"></script>
    <script>
        tinymce.init({
            selector: "textarea#editor",
            skin: "bootstrap",
            plugins: "lists, link, image, media",
            toolbar:
                "h1 h2 bold italic strikethrough blockquote bullist numlist backcolor | link image media | removeformat help",
            menubar: false,
            setup: (editor) => {
                // Apply the focus effect
                editor.on("init", () => {
                    editor.getContainer().style.transition =
                        "border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out";
                });
                editor.on("focus", () => {
                    (editor.getContainer().style.boxShadow =
                        "0 0 0 .2rem rgba(0, 123, 255, .25)"),
                        (editor.getContainer().style.borderColor = "#80bdff");
                });
                editor.on("blur", () => {
                    (editor.getContainer().style.boxShadow = ""),
                        (editor.getContainer().style.borderColor = "");
                });
            },
        });
    </script>
</head>
<body>

<!-- Begin Nav
================================================== -->
<div th:replace="fragments/header :: header"></div>
<!-- End Nav
================================================== -->

<!-- Begin Article
================================================== -->
<div class="container mt-4 mb-4">

    <div class="row justify-content-md-center">
        <div class="col-md-12 col-lg-12">
            <div class="mainheading" th:fragment="jumbotron">
                <h1 class="sitetitle">Zbloguy</h1>
                <h1 class="h2 mb-4">Create New Post</h1>
                <p class="lead">
                    Please write down everything you want!
                </p>
                <hr/>
            </div>

            <form method="POST">
                <div class="form-group required">
                    <label for="name" class='control-label'>
                        Title
                    </label>
                    <input type="text" required="required" class="form-control" id="name" name="title" placeholder="Post title ...">
                </div>

                <div class="form-group">
                    <label for="editor">Description</label>
<!--                    <input type="text" class="form-control" id="description" name="description" placeholder="Post description ...">-->
                    <textarea id="editor" name="description" placeholder="Writing post description ..."></textarea>
                </div>

                <div class="form-group required">
                    <label for="content" class='control-label'>
                        Content
                    </label>
                    <textarea required id="content" name="content" rows="20"></textarea>
                    <script>
                        CKEDITOR.replace( 'content' , {
                            filebrowserImageUploadUrl: '/upload/images'
                        });

                    </script>
                </div>

                <div class="form-group">
                    <label for="tag">Tag</label>
                    <input class="form-control" type="text" list="tags" name="tag" id="tag">

                    <datalist id="tags">
                        <th:block th:each="tag: ${tags}">
                            <option th:value="${tag.name}" th:utext="${tag.name}"></option>
                        </th:block>
                    </datalist>
                </div>

                <hr>

                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>
<!-- End Article
================================================== -->

<div class="hideshare"></div>

<!-- Begin Footer
================================================== -->
<div th:replace="fragments/footer :: footer"></div>
<!-- End Footer
================================================== -->

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script th:src="@{~/assets/js/jquery.min.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
        integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
        crossorigin="anonymous"></script>
<script th:src="@{~/assets/js/bootstrap.min.js}"></script>
<script th:src="@{~/assets/js/ie10-viewport-bug-workaround.js}"></script>
<script th:src="@{~/assets/js/mediumish.js}"></script>
</body>
</html>
