<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" th:href="@{~/assets/img/favicon.ico}">
    <title>ZBloguy | Error</title>
    <!-- Bootstrap core CSS -->
    <link th:href="@{~/assets/css/bootstrap.min.css}" rel="stylesheet">
    <!-- Fonts -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link th:href="@{~/assets/css/mediumish.css}" rel="stylesheet">
</head>
<body>

<!-- Begin Nav
================================================== -->
<div th:replace="fragments/header :: header"></div>
<!-- End Nav
================================================== -->

<!-- Begin Site Title
================================================== -->
<div class="container">
    <div class="mainheading">
        <h1 class="sitetitle" th:utext="${code}">CODE</h1>
        <p class="lead">
            Something happen. Please come back later!
        </p>
    </div>
    <!-- End Site Title
    ================================================== -->

    <!-- Begin Footer
    ================================================== -->
    <div th:replace="fragments/footer :: footer"></div>
    <!-- End Footer
    ================================================== -->

</div>
<!-- /.container -->

<!-- Bootstrap core JavaScript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script th:src="@{~/assets/js/jquery.min.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script th:src="@{~/assets/js/bootstrap.min.js}"></script>
<script th:src="@{~/assets/js/ie10-viewport-bug-workaround.js}"></script>
</body>
</html>
