<!DOCTYPE html>
<html lang="en">
<head>
    <title>ZBloguy | Login</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" th:href="@{~/assets/img/icons/favicon.ico}"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{~/assets/vendor/bootstrap/css/bootstrap.min.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{~/fonts/font-awesome-4.7.0/css/font-awesome.min.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{~/fonts/Linearicons-Free-v1.0.0/icon-font.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{~/assets/css/util.css}">
    <link rel="stylesheet" type="text/css" th:href="@{~/assets/css/main.css}">
    <!--===============================================================================================-->
</head>
<body>

<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <div class="login100-form-title" style="background-image: url(assets/img/bg-01.jpg);">
					<span class="login100-form-title-1">
						Sign In
					</span>
            </div>

            <form class="login100-form validate-form" th:action="@{/login}" method="post">
                <div class="alert alert-danger" role="alert" th:if="${error}" th:text="${error}"></div>
                <div class="alert alert-success" role="alert" th:if="${message}" th:text="${message}"></div>
                <div class="wrap-input100 validate-input mb-3" data-validate="Username is required">
                    <span class="label-input100">Username | Email</span>
                    <input class="input100" type="text" name="username" placeholder="Enter username">
                    <span class="focus-input100"></span>
                </div>

                <div class="wrap-input100 validate-input mb-3" data-validate = "Password is required">
                    <span class="label-input100">Password</span>
                    <input class="input100" type="password" name="password" placeholder="Enter password">
                    <span class="focus-input100"></span>
                </div>

                <hr/>

                <div class="flex-sb-m w-full p-b-30">
                    <div class="contact100-form-checkbox">
                        <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
                        <label class="label-checkbox100" for="ckb1">
                            Remember me
                        </label>
                    </div>

                    <div>
                        <p class="text-danger">New to app yet?
                            <a th:href="@{~/register}" class="txt1">
                            Create one!
                            </a>
                        </p>
                    </div>
                </div>

                <div class="container-login100-form-btn">
                    <button class="login100-form-btn">
                        Login
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<!--===============================================================================================-->
<script th:src="@{~/assets/vendor/jquery/jquery-3.2.1.min.js}"></script>
<script th:src="@{~/assets/vendor/bootstrap/js/popper.js}"></script>
<script th:src="@{~/assets/vendor/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{~/assets/js/main.js}"></script>

</body>
</html>
